{% load mathfilters %}

{% if user.is_authenticated %}
<!DOCTYPE html>
<html id="wrap" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>dietfit - Home</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/ui-darkness/jquery-ui.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>

    <style> 
    #wrap {
	  min-height: 100%;
	  height: auto;
	  /* Negative indent footer by its height */
	  margin: 0 auto -60px;
	  /* Pad bottom by footer height */
	  padding: 0 0 60px;
	}

	#footer {
		background-color: black;
		color: white;
	}

      .food-search {
      font-size: 2em;
      height: 2em;
      margin-bottom:3px;
    }

    .ui-autocomplete {
      max-height: 16em;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .ui-autocomplete .f-name {
      margin-right: 1em;
      font-weight: bold;
    }

    .ui-autocomplete .f-cals {
      display: block;
      font-size: 0.85em;
    }
    .ui-autocomplete .f-serving {
      float: right;
    }

    .foot {
      margin-top: 5px;
    }
	</style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
      <script>
      var food_searched = false;
      var orig_serving = 0;
      var orig_calories = 0;
      var orig_fat = 0;
      var orig_carbs = 0;
      var orig_protein = 0;
      $(function() {
        $("#search_food").autocomplete({
          minLength: 3,
          delay: 500,
          source: function(request, response) {
            var url = "https://api.nutritionix.com/v1_1/search/" + request.term;
            $.getJSON(url, {
              appKey: "15f569293b8b19abdd0cd7f91d29fbd7",
              appId: "bc975dc3",
              fields: "item_name,item_id,nf_serving_size_qty,nf_serving_size_unit,nf_calories,nf_total_fat,nf_total_carbohydrate,nf_protein",
              results: "0:9"
            }, function(data) {
             var array = data.error ? [] : $.map(data.hits, function(f) {
              return {
                label: f.fields.item_name,
                id_food: f.fields.item_id,
                serving_size_qty: f.fields.nf_serving_size_qty,
                serving_size_unit: f.fields.nf_serving_size_unit,
                calories: f.fields.nf_calories,
                fat: f.fields.nf_total_fat,
                carbs: f.fields.nf_total_carbohydrate,
                protein: f.fields.nf_protein
              };
            });
            response(array);
          });
          },focus: function(event, ui) {
              // prevent autocomplete from updating the textbox
              event.preventDefault();
            },
            select: function(event, ui) {
              // prevent autocomplete from updating the textbox
              event.preventDefault();
              // add to field
              $("#servingunit").after().remove();
              $("#foodname").val(ui.item.label);
              $("#foodservingsize").val(ui.item.serving_size_qty);
              $("#foodaddcals").val(ui.item.calories);
              $("#foodaddfat").val(ui.item.fat);
              $("#foodaddcarbs").val(ui.item.carbs);
              $("#foodaddprotein").val(ui.item.protein);
              $("#servingunit").val(ui.item.serving_size_unit+'(s)');
              $("#servingunit").after(ui.item.serving_size_unit);

              window.orig_serving = parseFloat($("#foodservingsize").val());
              window.orig_calories = parseFloat($("#foodaddcals").val());
              window.orig_fat = parseFloat($("#foodaddfat").val());
              window.orig_carbs = parseFloat($("#foodaddcarbs").val());
              window.orig_protein = parseFloat($("#foodaddprotein").val());
              window.food_searched = true;
            }

        }).data("ui-autocomplete")._renderItem = function(ul, item) {
          var $a = $("<a></a>");
            $("<span class='f-name'></span>").text(item.label).appendTo($a);
            var qty = item.serving_size_qty;
            var unit = item.serving_size_unit;
            var serving = qty.toString() + ' ' + unit;
            $("<span class='f-serving'></span>").text(serving).appendTo($a);
            $("<span class='f-cals'></span>").text(item.calories.toString() + " calories").appendTo($a);
            $("<span class='f-cals'></span>").text(item.fat.toString() + " g total fat").appendTo($a);
            $("<span class='f-cals'></span>").text(item.carbs.toString() + " g carbohydrates").appendTo($a);
            $("<span class='f-cals'></span>").text(item.protein.toString() + " g protein").appendTo($a);
            return $("<li></li>").append($a).appendTo(ul);
        };
      });
  </script>


    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">FITNESS</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">My Plan</a></li>
            <li><a href="#about">My Account</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <br>
    <br>

    <script>
    $(document).ready(function() {
      $("#add_food_toggle").click(function() {
        $(".add_food").toggle();
      });
    });

    $(document).ready(function() {
      $("#foodservingsize").keyup(function() {
        console.log("keyup");
          if(food_searched) {
              if (parseFloat($("#foodservingsize").val()) >= 0) {
                var serving = $("#foodservingsize").val()/window.orig_serving;
                $("#foodaddcals").val(window.orig_calories*serving);
                $("#foodaddfat").val(window.orig_fat*serving);
                $("#foodaddcarbs").val(window.orig_carbs*serving);
                $("#foodaddprotein").val(window.orig_protein*serving);
              }
          }
          });
    });
    </script>


    <div class="container">

    	<h1>Welcome {{user.username}}</h1>
    	<h4>Current Stats: <span class="label label-success">{{user.userprofile.gender}} {{user.userprofile.height_ft}}'{{user.userprofile.height_inch}}"  {{user.userprofile.weight}} lbs</span></h4>

    	<h3>You should be aiming for <b>{{user.userprofile.calorie_goal}}</b> calories to lose {{user.userprofile.loss_goal}} lbs a week.</h3>

    	<div class="btn-group" role="group" aria-label="...">
		  <button type="button" class="btn btn-lg btn-primary" id="add_food_toggle">Add a meal</button>
		  <a href="/generate" type="button" class="btn btn-lg btn-primary">Generate meals</a>
		  <a href="/resetfood" type="button" class="btn btn-lg btn-danger">Reset</a>
		  </div>

    </div>


    <br>

    <div class="container add_food" id="add_food">
    <input class="form-control food-search" placeholder="Search for a food.." id="search_food">
      <form method="post" action="/mealadded/"> {% csrf_token %}
      <table id="foods" class="table table-bordered">
        <thead>
          <tr>
           <!-- <th>Food</th> -->

            <th>Name</th>
            <th>Servings</th>
            <th>Calories</th>
            <th>Fat</th>
            <th>Carbs</th>
            <th>Protein</th>            
          </tr>
        </thead>
        <tbody>
          <tr>
            <!--<td>1</td>-->
            <td><input name="name" id="foodname" type="text"></td>
            <td><input name="servingsize" id="foodservingsize" type="number" step="any" min="0.1"><input name="servingunit"id="servingunit" type=hidden></td>
            <td><input name="calories" id="foodaddcals" type="number" step="any" min="1"></td>
            <td><input name="fat" id="foodaddfat" type="number" step="any" min="0">g</td>
            <td><input name="carbs" id="foodaddcarbs" type="number" step="any" min="0">g</td>
            <td><input name="protein" id="foodaddprotein" type="number" step="any" min="0">g</td>
          </tr>
          
        </tbody>
      </table>
          <button type="submit" class="btn btn-success">Save</button>
          </form>
     </div>

    <div class="container">
    	<h2>Food</h2>        
		  <table class="table table-bordered">
		    <thead>
		      <tr>
		        <th>Servings</th>
		        <th>Name</th>
		        <th>Calories</th>
		        <th>Fat</th>
		        <th>Carbs</th>
		        <th>Protein</th>
		      </tr>
		    </thead>
		    <tbody>
		    {% for food in user.userprofile.mealplan.foods.all %}
		      <tr>
		        <td><center>{{food.servingsize}}</center></td>
		        <td><center>{{food.name}}</center></td>
		        <td><center>{{food.calories}}</center></td>
		        <td><center>{{food.fat}}g</center></td>
		        <td><center>{{food.carbs}}g</center></td>
		        <td><center>{{food.protein}}g</center></td>
		      </tr>
		    {% endfor %}
		    </tbody>
		  </table>
	 </div>

	 <div class="container">
	 	<h3>Totals</h3>
	 		<table class="table table-bordered">
		    <thead>
		      <tr>
		        <th>Calories</th>
		        <th>Fat(g)</th>
		        <th>Carbs(g)</th>
		        <th>Protein(g)</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td><center><h2>{{user.userprofile.mealplan.totalcals}}</h2></center></td>
		        <td><center><h2>{{user.userprofile.mealplan.totalfat}}</h2></center></td>
		        <td><center><h2>{{user.userprofile.mealplan.totalcarbs}}</h2></center></td>
		        <td><center><h2>{{user.userprofile.mealplan.totalprotein}}</h2></center></td>
		      </tr>
		    </tbody>
		  </table>
	</div>
		

    <footer id="footer">
    <nav class="navbar navbar-inverse navbar-fixed-bottom foot">
        <div class="container">
        {% if user.userprofile.deficit < 0 %}
		<h3>You have eaten <strong>{{user.userprofile.deficit|abs}}</strong> more calories than your goal!</h3>
		{% else %}
		<h3>You have eaten <strong>{{user.userprofile.deficit}}</strong> less calories than your goal!</h3>
		{% endif %}
    </div>
      </nav>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>

{% else %}
UR NOT AUTHENTICATED
{% endif %}