<html>
{% load staticfiles %}
	<head>
		<link rel="stylesheet" type="text/css" href="{% static "bootstrap-3.3.4-dist/css/bootstrap.css" %}">
		<title>diet n fit</title>
	</head>
	<body>
		<br><br>
		<div class="container">
		<h1>DIET N FIT</h1>
		<form action="{% url 'django.contrib.auth.views.login' %}" method="post">
		{% csrf_token %}
			  <div class="form-group">
			    <label for="username">Username:</label>
			    <input class="form-control" id="id_username" name="username">
			  </div>
			  <div class="form-group">
			    <label for="pwd">Password:</label>
			    <input type="password" class="form-control" id="id_password" name="password">
			  </div>
			  <button type="submit" class="btn btn-default btn-success">Login</button>
			  <a type="button" href="/create_account" class="btn btn-default btn-primary">Register</a>
			  <input type="hidden" name="next" value="/home">
		</form>
		</div>
	</body>
</html>